<div *ngIf="company">
  <h2 class="text-center">{{company.name}} details!</h2>
  <table class="table table-striped">
    <tbody>
    <tr>
      <td>cvr</td>
      <td>{{company.cvr}}</td>
    </tr>
    <tr>
      <td>name</td>
      <td>{{company.name}}</td>
    </tr>
    <tr>
      <td>address</td>
      <td>{{company.address}}</td>
    </tr>
    <tr>
      <td>city</td>
      <td>{{company.city}}</td>
    </tr>
    <tr>
      <td>country</td>
      <td>{{company.country}}</td>
    </tr>
    <tr>
      <td>phone</td>
      <td>{{company.phone}}</td>
    </tr>
    </tbody>
  </table>
</div>
